black
brmp@git+https://github.com/pyro-ppl/brmp
cloudpickle==2.2.1
copulas==0.7.0
deepecho==0.3.0.post1
diffprivlib==0.5.2
dython==0.7.2
fairlearn==0.7.0
fflows==0.0.3
geomloss==0.2.6
importlib-metadata==6.7.0
ipykernel==6.16.2
ipython
isort
joblib==1.3.2
lifelines==0.27.8
loguru~=0.7.2
matplotlib==3.5.3
nflows==0.14
numpy==1.22.0
openTSNE==1.0.0
optuna==3.3.0
packaging==21.3
pandas==1.3.5
pgmpy==0.1.23
pre-commit
pycox==0.2.3
pydantic==1.10.0
pykeops==2.1.2
pytorch_wavelets@git+https://github.com/fbcotter/pytorch_wavelets.git
pywavelets==1.3.0
rdt==1.9.0
redis==5.0.1
Requests==2.31.0
scikit-learn==1.0.2
scikit-survival==0.17.2
scipy==1.7.3
sdv
seaborn==0.12.2
setuptools==68.0.0
thomas-core==0.1.3
torch==1.13.1
torchtuples==0.2.2
tqdm==4.66.1
tsai==0.3.6
xgboost==1.6.2
xgbse==0.2.3
